.header {
    background-color: #4287f5;
    color: #fff;
    text-align: center;
    padding: 20px;
}

.header h1 {
    font-size: 48px;
}

.header ul {
    list-style-type: none;
    padding: 0;
}

.header ul li {
    display: inline;
    margin-right: 20px;
}

.header a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: color 0.3s;
}

.header a:hover {
    color: #ff7f00;
}


.content {
    background-color: #f2f2f2;
    padding: 20px;
}

.content h2 {
    color: #333;
    font-size: 28px;
}

.content ul {
    list-style-type: square;
    margin-left: 20px;
}

.content ul li {
    margin-bottom: 10px;
}


.form {
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.form h2 {
    color: #333;
    font-size: 24px;
}

.form label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #555;
}


.form input[type="text"],
.form input[type="email"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: border-color 0.3s;
}

.form input[type="text"]:focus,
.form input[type="email"]:focus {
    border-color: #ff7f00; /* Змінюємо колір рамки при фокусі */
}

.form button {
    background-color: #ff7f00;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.form button:hover {
    background-color: #ff5500;
}

.table {
    margin-top: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.table h2 {
    color: #333;
    font-size: 28px;
}

.table table {
    width: 100%;
    border-collapse: collapse;
}

.table th, .table td {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: center;
}

.table tbody tr:nth-child(odd) {
    background-color: #f2f2f2;
}
