.page {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Мінімальна висота вікна браузера */
    background-color: #f0f0f0;
}

.container {
    width: 400px;
    height: 400px;
    position: relative; /* Встановлюємо позицію "relative" для контейнера */
}

.box {
    width: 100px;
    height: 100px;
    border: default;
    text-align: center;
    line-height: 100px;
    font-size: 16px;
    font-weight: bold;
}

.static {
    position: static; /* За замовчуванням */
    background-color: #7FFFD4; 
    z-index: 1; /* Задаємо значення "z-index" 1, нижче над іншими */
}

.relative {
    position: relative; /* Встановлюємо позицію "relative" для вищого контексту позиціонування */
    background-color: #3498db; 
    z-index: 2; /* Задаємо значення "z-index" 2, вище ніж ".static" */
    top: 20px; /* Зсуваємо вниз на 20 пікселів */
    right: 5px; /* Зсуваємо праворуч на 5 пікселів */
}

.absolute {
    background-color: #e74c3c; 
    z-index: 3; /* Задаємо значення "z-index" 3, вище ніж ".relative" */
    position: absolute; /* Встановлюємо позицію "absolute" */
    top: 0; /* Закріплюємо зверху */
    right: 0; /* Закріплюємо справа */
}

.fixed {
    position: fixed; /* Зафіксована позиція */
    background-color: #27ae60; 
    z-index: 4; /* Задаємо значення "z-index" 4, вище ніж ".absolute" */
    bottom: 20px; /* Закріплюємо знизу на 20 пікселів */
    right: 20px; /* Закріплюємо справа на 20 пікселів */
}
